name: Build and Deploy Docker to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build Docker image
        run: |
          docker build -t asantemixpostacr.azurecr.io/myapp:latest .

      - name: Push Docker image to ACR
        run: |
          echo ${{ secrets.ACR_PASSWORD }} | docker login asantemixpostacr.azurecr.io -u ${{ secrets.ACR_USERNAME }} --password-stdin
          docker push asantemixpostacr.azurecr.io/myapp:latest

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: mynewdockerapp
          images: asantemixpostacr.azurecr.io/myapp:latest
